footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.icons {
  display: flex;
  gap: 2rem;
}

.attribution {
  color: $white;
}

.attribution__link {
  color: $soft-red;
}

svg {
  fill: #8385A9;
  transition: all ease-in-out 300ms;
  

  &:hover {
    fill: $soft-red;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}