main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 9rem 1.4rem 23rem 1.4rem;

  @include xl {
    padding: 8.2rem 1.4rem 16rem 1.4rem;
  }
}

.deadline {
  display: grid;
  grid-template-columns: repeat(4, 4.3rem);
  gap: 1rem;
  padding-top: 6rem;

  @include med {
    display: grid;
    grid-template-columns: repeat(4, 6rem);
    gap: 1.2rem;
  }

  @include xl {
    display: grid;
    grid-template-columns: repeat(4, 9.5rem);
    gap: 1.75rem;
  }
}

.deadline__item {
  padding: 0.5rem;
  background: $dark-blue;
  border-radius: 0.5rem;
  box-shadow: 0 5px rgba(0, 0, 0, 0.4);
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    background-color: #2c2c44;
    border-radius: 0.5rem 0.5rem 0 0;
  }
}

.deadline__text {
  text-transform: uppercase;
  color: $grayish-blue;
  letter-spacing: 3px;
  font-size: 0.5rem;
  text-align: center;
  padding-top: 0.75rem;

  @include med {
    font-size: 0.7rem;
  }

  @include xl {
    font-size: 0.9rem;
    padding-top: 2rem;
  }
}

.card {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 32%;
    left: -10%;
    background-color: $black-blue;
    width: 0.7rem;
    height: 0.5rem;
    border-radius: 50%;
    z-index: 99;

    @include med {
      top: 30%;
      left: -5%;
    }

    @include xl {
      top: 34%;
      left: -3%;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 32%;
    right: -10%;
    background-color: $black-blue;
    width: 0.7rem;
    height: 0.5rem;
    border-radius: 50%;
    z-index: 99;

    @include med {
      top: 30%;
      right: -5%;
    }

    @include xl {
      top: 34%;
      right: -3%;
    }
  }
}
