main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 9rem 1.4rem 0 1.4rem;
}

.deadline {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.deadline__item {
  padding: 0.5rem;
  background: $dark-blue;
  border-radius: 0.5rem;
  box-shadow: 0 5px rgba(0, 0, 0, 0.4);
  position: relative;

&::before {
    content: '';
    position: absolute;
    top: 8%;
    left: 0;
    height: 50%;
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    background-color: #2c2c44;
  }
}

.deadline__text {
  text-transform: uppercase;
  color: $grayish-blue;
  letter-spacing: 3px;
  font-size: 0.5rem;
  text-align: center;
  padding-top: 1rem;
}

.card {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 40%;
    left: -10%;
    background-color: $black-blue;
    width: 0.9rem;
    height: 0.5rem;
    border-radius: 50%;
    z-index: 99;
  }

  &::before {
    content: '';
    position: absolute;
    top: 40%;
    right: -10%;
    background-color: $black-blue;
    width: 0.9rem;
    height: 0.5rem;
    border-radius: 50%;
    z-index: 99;
  }
}